@using System.Web.Optimization
@using ColorSoft.Web.Extensions
@using Scripts = System.Web.Optimization.Scripts
<!DOCTYPE html>
<html lang="en" ng-app="colorSoft">
<head>
    <meta charset="utf-8">
    <title>ColorSoft :: Custom Color Matching Management Software</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/Css/bootstrap", "~/Css/jquery-ui", "~/Css/application", "~/Css/dashboard", "~/Css/angular-ui")
    @Scripts.Render("~/scripts/jQuery", "~/scripts/jQueryUI", "~/scripts/bootstrap", "~/scripts/underscore", "~/scripts/angular")
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"> </script>
        <![endif]-->
</head>
<body ng-controller="MainCtrl">
    <div id="top-navigation" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                                                                                                 class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="#">ColorSoft</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li id="about" ng-class="getNavigationItemClass('about')"><a href="#/About">About</a></li>
                        <li id="contact" ng-class="getNavigationItemClass('contact')"><a href="#/Contact">Contact</a></li>
                        <li id="dashboard" ng-class="getNavigationItemClass('dashboard')" ng-show="isLoggedIn()"><a href="#/Dashboard">Dashboard</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li ng-hide="isLoggedIn()"><a ng-click="promptForLogin()">Login</a></li>
                        <li ng-show="isLoggedIn()"><a ng-click="logout()">({{ userName }}) Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="content-container" ng-view>
        @RenderBody()
    </div>
    @Html.Partial(MVC.Templates.Views._Login)
    @Html.RenderColorSoftApplication()
    @Html.RenderApplicationUrls()
    @Html.RenderTemplateUrls()
</body>
</html>
