<li id="register">
    @Html.ActionLink("Sign Up", MVC.Registration.New())
</li>
<li class="divider-vertical"></li>
<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign
                         In <strong class="caret"></strong></a>
    <div id="login-container" class="dropdown-menu">
        @using (Html.BeginForm(MVC.Authentication.Login(), FormMethod.Post, new {@class = "form-vertical"}))
        {
            <div class="control-group">
                @Html.Label("Username", "User name", new {@class = "control-label"})
                <div class="controls">
                    @Html.TextBox("Username", String.Empty, new {@class = "span2", placeholder = "User name", autocomplete = "off"})
                </div>
            </div>
            <div class="control-group">
                @Html.Label("Password", "Password", new {@class = "control-label"})
                <div class="controls">
                    @Html.Password("Password", String.Empty, new {@class = "span2", placeholder = "Password", autocomplete = "off"})
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        @Html.CheckBox("RememberMe", false)
                        Remember me
                    </label>
                </div>
            </div>
            <input type="submit" value="Sign In" class="btn" />
        }
    </div>
</li>