@using System.Web.Optimization
@using ColorSoft.Web.Extensions
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedNavigationItem = "dashboard";
}
@section css
{
    @Styles.Render("~/Css/dashboard")
    @Styles.Render("~/Css/angular-ui")
}
@section scripts
{
    @Scripts.Render("~/scripts/angular")
}
@section footerScripts
{
     @Html.RenderColorSoftApplication()
}
<div class="row">
    <div class="span2">
        @Html.Action(MVC.DashboardNavigation.Index())
    </div>
    <div id="dashboard-content" class="span10" ng-app="colorsoft">
       <div ng-view></div>
    </div>
</div>