@model ColorSoft.Web.Models.DashboardNavigation.DashboardNavigationViewModel
<div class="accordion" id="navigation-menu">
    @foreach (var navigationSection in Model.Sections)
    {
        var isUserAllowedAccessToSection = navigationSection.Roles.Any(x => User.IsInRole(x));
        var id = Guid.NewGuid();
        
        if (isUserAllowedAccessToSection)
        {
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-menu" data-target="#@id">
                    @navigationSection.Name
                </span>
            </div>
            <div class="accordion-body collapse" id="@id">
                <div class="accordion-inner">
                    <ul>
                        @foreach (var menuItem in navigationSection.Items)
                        {
                            var isUserAllowedAccessToItem = menuItem.Roles.Any(x => User.IsInRole(x));

                            if (isUserAllowedAccessToItem)
                            {
                            <li><a class="navigation-menu-item" title="@menuItem.Title" ng-click="setView('@menuItem.Id')">@menuItem.Name</a></li>   
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        }
    }
</div>
