@model ColorSoft.Web.Models.DashboardNavigation.DashboardNavigationViewModel
<div class="accordion affix-top" id="navigation-menu">
    @foreach (var navigationSection in Model.Sections)
    {
        var isUserAllowedAccessToSection = navigationSection.Roles.Any(x => User.IsInRole(x));

        if (isUserAllowedAccessToSection)
        {
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="navigation-menu" href="#@navigationSection.Id.ToString()">
                    @navigationSection.Name
                </a>
            </div>
            <div class="accordion-body collapse" id="@navigationSection.Id.ToString()">
                <div class="accordion-inner">
                    <ul>
                        @foreach (var menuItem in navigationSection.Items)
                        {
                            var isUserAllowedAccessToItem = menuItem.Roles.Any(x => User.IsInRole(x));

                            if (isUserAllowedAccessToItem)
                            {
                            <li><a href="@menuItem.Link" class="navigation-menu-item" title="@menuItem.Title">@menuItem.Name</a></li>   
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        }
    }
</div>
